<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Voizfonica dashboard</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <style type="text/css">

        .checked {
            color: orange;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .flip-card {
            background-color: transparent;
            width: 200px;
            height: 200px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: #bbb;
            color: black;
        }

        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
        }
    </style>
    <script type="text/javascript">

    </script>



+-
</head>

<body>
<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white">
        <div class="card" style="width: 15rem; height: 15rem">
            <div th:each="u: ${user}">

            <div class="card-body" style="200px">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://thumbs.dreamstime.com/b/faceless-businessman-avatar-man-suit-blue-tie-human-profile-userpic-face-features-web-picture-gentlemen-85824471.jpg" alt="Avatar" style="width:200px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h3 th:text="${u.name}">register.name</h3>
                            <p th:text="${u.email_address}">email</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">

                <li class="nav-item active ">
                    <a class="nav-link" th:href="dashboard" >
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" th:href="myprofile" >
                        <i class="material-icons">person</i>
                        <p>My Profile</p>
                    </a>
                </li>
                <li >
                    <a class="nav-link" th:href="registration">
                        <i class="material-icons">person</i>
                        <p>New Connection</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{'/dashboard/dongle/'}" id="hide" >
                        <i class="material-icons">account_balance_wallet</i>
                        <p>Recharge</p>
                    </a>
                </li>
                <!--<li >
                    <a class="nav-link" href="order">
                        <i class="material-icons">shop</i>
                        <p>orders</p>
                    </a>
                </li>
                --><li >
                    <a class="nav-link" href="assistance">
                        <i class="material-icons">chat_bubble</i>
                        <p>Assistance</p>
                    </a>
                </li>
                <li >
                    <a class="nav-link" th:href="vftelecom">
                        <i class="material-icons">power_settings_new</i>
                        <p>Logout</p>
                    </a>
                </li><!-- your sidebar here -->
            </ul>
        </div>
    </div>




    <div class="main-panel">





        <!--<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            &lt;!&ndash; T
            <&#45;&#45; Card &ndash;&gt;&lt;!&ndash;<iframe width="100%" height="450" src="https://www.youtube.com/embed/fs4WFFEmC54">
        </iframe>
&ndash;&gt;
            &lt;!&ndash; Card &ndash;&gt;
            &lt;!&ndash; Topbar Navbar &ndash;&gt;
        </nav>-->



        <!-- End Navbar -->


        <!-- <div class="content" style="margin-top: -50px ;background-image:url(http://www.lesgeorgettes.com/us/814-large_default/leather-band-white-turquoise-les-georgettes.jpg); >
        -->

        <div class="container" >
            <div class="row">
                <div class="col-sm-5">
                    <!-- Card -->
                    <div class ="container" style="min-width: 1500px;">
                        <div class="col-4">
                            <div class="card">


                                <!-- Card image -->

                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Title -->
                                    <div style="display: flex; justify-content: space-around; font-weight:bold">
                                        <div style="font-weight:bold"><h2>Current Plan</h2></div>
                                    </div>
                                    <!--<h4 class="card-title"><a>Current Plan</a></h4>
                                    <- Text -->
                                    <div style="display: flex; justify-content: space-around;font-weight:bold">
                                        <div style="float: left;">Validity(in days)</div>
                                        <div> Plan Name</div>
                                        <div style="float: right;"> Amount(in Rs)</div>
                                    </div>
                                    <div style="display: flex; justify-content: space-around" th:each="i: ${data}">
                                        <div style="float: left;" th:text="${i.prepaid.valid}">103 days</div>
                                        <div style="float: center;" th:text="${i.prepaid.name}">1GB</div>
                                        <div style="float: right;" th:text="${i.prepaid.amount}">120</div>
                                    </div>
                                </div>
                                <!-- Button -->

                            </div>
                        </div>
                    </div>


                    <!-- Card -->
                </div>
                 <div class="col-sm-2"></div>

                <div class="col-sm-5" style="height: 120px">


                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Data Used</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <a th:href="dongle">
                    <div class="card-deck" >

                        <!-- Card -->
                        <div class="card mb-4">

                            <!--Card image-->
                            <div class="view overlay">
                                <img class="card-img-top" src="https://media.giphy.com/media/VoYoSJdOXVgqc/giphy.gif" alt="Card image cap"  style="height: 250px; scale:110%;margin-left: 15px;">
                                <a th:href="dongle">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                                <!--Title-->
                                <h3 class="card-title" style="text-align: center"><a th:href="dongle">Offers</a></h3>
                                <!--Text-->
                                <p class="card-text" style="text-align: center; font-family: 'Open Sans', sans-serif">Get flat 50% cashback on VoizFonica prepaid recharge using VoizFonica money wallet.   Avail Now!</p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                            </div>

                        </div>

                </a>

                <!-- Card -->

                <!-- Card -->
                <a th:href="dongle" class="custom-card">
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="http://business2business.co.in/img/article/1524/investment.gif" style="height: 250px;" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h3 class="card-title" style="text-align: center"><a th:href= "dongle" >Recharge</a></h3>
                            <!--Text-->
                            <p class="card-text" style="text-align: center; font-family: 'Open Sans', sans-serif">Prepaid recharge - Online recharge your VoizFonica prepaid mobile. Get best data plans & unlimited calling offers on online mobile recharge.
                            </p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div></a>
                <!-- Card -->

                <!-- Card -->
                <a th:href="dongle" class="custom-card">
                    <div class="card mb-4">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://media.giphy.com/media/30QF0blUiVVsY/giphy.gif" alt="Card image cap" style="height: 250px;">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h3 class="card-title" style="text-align: center"><a th:href ="dongle">Wifi</a></h3>
                                <!--Text-->
                                <p class="card-text" style="text-align: center;font-family: 'Open Sans', sans-serif">Voizfonica V-Fiber, The most reliable network with instant support. Book Now! 24*7 customer support.</p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


                        </div>

                    </div></a>
                <!-- Card -->

            </div>

            <!-- Card -->

                <!-- Card -->

                <!-- Card -->

            </div>



            <div class="card-deck" style="width: 100%">

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://www.svmcards.com/wp-content/uploads/2018/04/11.gif" style="height: 400px;" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Promotion Code</h4>
                        <!--Text-->
                        <p class="card-text">Your coupon code is XXXXXXXXXXXXXX and get flat 50% off.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                    </div>

                </div>
                <!-- Card -->



            </div>





        </div>
    </div>
</div>
</div>



<!-- your content here -->
<!-- </div>
</div>







</div>
</div> -->





</body>

</html>