<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Voizfonica offers</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <style type="text/css">
        .checked {
            color: orange;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .flip-card {
            background-color: transparent;
            width: 200px;
            height: 200px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: #bbb;
            color: black;
        }

        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
        }
    </style>


    <script type="text/javascript">

    </script>




</head>

<body>

<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white">
        <div class="card" style="width: 15rem; height: 15rem">
            <div th:each="u: ${user}">

                <div class="card-body" style="200px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://thumbs.dreamstime.com/b/faceless-businessman-avatar-man-suit-blue-tie-human-profile-userpic-face-features-web-picture-gentlemen-85824471.jpg" alt="Avatar" style="width:200px;height:200px;">
                            </div>
                            <div class="flip-card-back">
                                <h3 th:text="${u.name}">register.name</h3>
                                <p th:text="${u.email_address}">email</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">

                <li >
                    <a class="nav-link" th:href="dashboard" >
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" th:href="myprofile" >
                        <i class="material-icons">person</i>
                        <p>My Profile</p>
                    </a>
                </li>
                <li >
                    <a class="nav-link" th:href="registration">
                        <i class="material-icons">person</i>
                        <p>New Connection</p>
                    </a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" th:href="@{'/dashboard/dongle/'}" id="hide" >
                        <i class="material-icons">account_balance_wallet</i>
                        <p>Recharge</p>
                    </a>
                </li>
                <!--<li >
                    <a class="nav-link" href="order">
                        <i class="material-icons">shop</i>
                        <p>orders</p>
                    </a>
                </li>-->
                <li >
                    <a class="nav-link" href="assistance">
                        <i class="material-icons">chat_bubble</i>
                        <p>Assistance</p>
                    </a>
                </li>
                <li >
                    <a class="nav-link" th:href="vftelecom">
                        <i class="material-icons">power_settings_new</i>
                        <p>Logout</p>
                    </a>
                </li><!-- your sidebar here -->
            </ul>
        </div>
    </div>





    <div class="main-panel" style="background-image: url('https://webgradients.com/public/webgradients_png/161%20Salt%20Mountain.png');">

        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <!-- <a class="navbar-brand dropdown" data-toggle="dropdown" href="#pablo">Recharges</a>
         -->
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="dongle">
                                <i class="material-icons">settings_remote</i> <span style="color: #0c0a5e;font-size: large">Dongle</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="prepaid">
                                <i class="material-icons">phone_in_talk</i> Prepaid
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="postpaid">
                                <i class="material-icons">signal_wifi_4_bar</i> Postpaid
                            </a>
                        </li>
                        <!-- your navbar here -->
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Navbar
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="#pablo">Dashboard</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                    <i class="material-icons">notifications</i> Notifications
                  </a>

              </ul>
            </div>
          </div>
        </nav>

  -->

        <!-- End Navbar -->


        <div class="content" >
            <div class="container-fluid">
                <div class="row">
                    <div class="card" style="width: 18rem;margin-left: 30px" th:each="dongle : ${plans}">
                        <img class="card-img-top" src="https://static.wixstatic.com/media/7787a3_c35d69c256b940a395ee2313ee3656fe~mv2.gif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><h5 class="card-title"th:text="${dongle.name}">Rs 1000</h5></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h5 class="card-title"th:text="${dongle.name}">Rs 1000</h5></li>
                            <li class="list-group-item"><h6 class="card-text" th:text="${dongle.valid}">Offer Details:</h6></li>

                        </ul>
                        <div class="card-body">

                            <a th:href="@{'/dongle/'+${dongle.name}}"  class="btn btn-success">Recharge</a>
                        </div>
                    </div>

                    <!-- <div class="card" data-color="azure" style="width: 18rem;height: 25rem; margin-left: 30px" th:each="dongle : ${plans}">
                             <img class="card-img-top" src="https://static.wixstatic.com/media/7787a3_c35d69c256b940a395ee2313ee3656fe~mv2.gif" alt="Card image">
                             <div class="card-body">
                                 <h5 class="card-title"th:text="${dongle.name}">Rs 1000</h5>
                                 <h6 class="card-text" th:text="${dongle.valid}">Offer Details:</h6>
                                     <a th:href="@{'/dongle/'+${dongle.name}}"  class="btn btn-success">Recharge</a>
                             </div>


 &lt;!&ndash;                        <div class="card-body" >
                             <h5 class="card-title"th:text="${dongle.name}">Rs 1000</h5>
                             <h6 class="card-text" th:text="${dongle.valid}">Offer Details:
                                 10 days validity</h6>
                             <h6 class="card-text" th:text="${dongle.amount}">Rs.35 talktime  </h6>
                             <a th:href="@{'/dongle/'+${dongle.name}}"  class="btn btn-success">Recharge</a>
                         </div>
                     </div>&ndash;&gt;

                 </div>-->


                    <!-- your content here -->
                </div>
            </div>






            <!--

                  <footer class="footer">
                    <div class="container-fluid">
                      <nav class="float-left">
                        <ul>
                          <li>
                            <a href="https://www.creative-tim.com">
                              Creative Tim
                            </a>
                          </li>
                        </ul>
                      </nav>
                      <div class="copyright float-right">
                        &copy;
                        <script>
                          document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                      </div>
                       your footer here         </div>
                  </footer>-->

        </div>
    </div>
</div></body>

</html>