<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Invoice generated</title>
</head>
<body>
<div text-align="center">
    <h1><b><center>Invoice generated for your order/s</center></b></h1>

    <tr th:each="user : ${invoice}">
        Hi <td th:text="${user.firstname}">username</td>, your invoice for the order/s for the contact number <td th:text="${user.contact_number}">contact</td> shall be delivered to <td th:text="${user.address}">your address</td>. You have chosen <td th:text="${user.zip}">cash/credit card</td> to make the payment. The official order information shall be sent your<td th:text="${user.email}">email-id</td>
    </tr>

</div>
</body>
</html>